<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>React-MapBox-TS</title>
    <meta name="description" content="Write mapbox with react and typescript" />
  </head>
  <body></body>
</html>
